
/* Universal Styles */
/* 400 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* 700 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* 900 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
  vertical-align: middle;
  display: block;
}

body {
  font-family: 'Lato', serif;
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #2a2a2a;
}

h3 {
  font-size: 3rem;
  color: #2a2a2a;
}

p {
  font-size: 2rem;
  color: #939393;
}

span {
  font-size: 1.5rem;
}

.bigBox {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 24px 32px;
}

.largeImage {
  width: 60%;
  height: auto;
}

/* Header */

header {
  width: auto;
  height: 64px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header nav div.nav span {
  padding-left: 16px;
}

.nav {
  padding-right: 24px;
}

/* logo and logoTitle */

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
}

.logoTitleOne {
  font-size: 2rem;
  color: rgb(120, 120, 120);
}

.logoTitleTwo {
  font-size: 2rem;
  color: rgb(180, 180, 180);
}

/* Banner */

#firstBig {
  background-color: rgb(180, 180, 180);
  background-size: cover;
  background-position: center;
}

.largeImage .one img {
  width: 60%;
  height: auto;
}

.information {
  color: rgb(60, 60, 60);
  width: 40%;
  height: auto;
  margin: 0px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

span.button {
  color: white;
  background-color: rgb(60, 60, 60);
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.information p {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Information */

.bigBox .two{
  background-color: white;
}

.informationBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.informationBox .one {

}

.informationImage {
  height: auto;
  width: 35%;
  padding: 0px 16px;
}

.informationContent{
  width: 65%;
  height: auto;
  padding: 0px 16px;
}

/* Courses */

#thirdBig, #learning {
  background-color: #d3d3d3;
  background-size: cover;
  background-position: center;
}

.sectionTitle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Big Box */
.coursesCatalog {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 32px 40px;
}
/* Small Box */
.courses {
  display: flex;
  flex-flow: column;
  padding: 0px 32px;
  width: 25%;
  height: auto;
}
/* Individual Content */
.coursesImage {
  height: auto;
  width: 100%;
}

.coursesContent {
  background-color: white;
  width: 100%;
}

.coursesContent h3 {
  padding: 16px 16px;
}

.coursesContent p {
  padding: 8px 16px;
}

/* Thesis */

.bigBox .four{

}

.largeImage video {
  width: 60%;
  height: auto;
  padding-right: -20px;
}

/* Footer */

footer {
  padding: 16px 24px;
  width: auto;
  height: 5rem;
}

.footerBox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.copyright {

}

.footerNav {

}
