
/* Universal Styles */
/* 400 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* 700 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* 900 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
  vertical-align: middle;
  display: block;
}

body {
  font-family: 'Lato', serif;
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #2a2a2a;
}

h3 {
  font-size: 3rem;
  color: #2a2a2a;
}

p {
  font-size: 2rem;
  color: #939393;
}

span {
  font-size: 1.5rem;
}

.bigBox {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 24px 32px;
}

.largeImage {
  width: 60%;
  height: auto;
}
/* styling for phone screens */
@media only screen and (max-width: 479px) {

  header nav span {
    display: hidden;
  }

  .navIcons {
    display: space-around;
  }

  header {
    height: 60px;
    width: auto;
  }

  .largeImage {
    width: 100%;
  }

  .information {
    width: 100%;
    padding: 32px 16px;
  }

  span.button {
    background-color: rgb(120, 120, 120);
  }

  .information p {
    font-size: 2rem;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .largeImage .two {
    display: hidden;
  }

  .informationImage {
    height: auto;
    width: 100%;
    padding: 16px 16px;
  }

  .informationContent{
    width: 100%;
    height: auto;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
  }
  .mobileRef {
    padding-bottom: -32px;
  }

  .sectionTitle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  /* Big Box */
  .coursesCatalog {
    display: block;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
  /* Small Box */
  .courses {
    padding: 8px 0px;
    width: 24%;
    height: auto;
  }
  /* Individual Content */
  .coursesImage {
    display: hidden;
  }

  .coursesContent {
    background-color: white;
    width: 100%;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-top: 16px;
  }

  .coursesContent p {
    display: hidden;
  }
  /* Thesis */
  .largeImage video {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
  }

  .information .two {
    display: hidden;
  }

  #urbanTitle, #urbanContent {
    display: hidden;
  }
  /* footer */
  footer {
    padding: 16px 16px;
    width: auto;
    height: auto;
  }

  .footerBox {
    display: block;
  }

  .footerNav {
    display: hidden;
  }
}

/* Header */

header {
  width: auto;
  height: 64px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header nav div.nav span {
  padding-left: 16px;
}

.nav {
  padding-right: 24px;
}

div.nav img {
  display: hidden;
}

/* logo and logoTitle */

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
}

.logoTitleOne {
  font-size: 2rem;
  color: rgb(120, 120, 120);
}

.logoTitleTwo {
  font-size: 2rem;
  color: rgb(180, 180, 180);
}

/* Banner */

#firstBig {
  background-color: rgb(180, 180, 180);
  background-size: cover;
  background-position: center;
}

.largeImage .one img {
  width: 60%;
  height: auto;
}

.information {
  color: rgb(60, 60, 60);
  width: 40%;
  height: auto;
  padding: 24px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

span.button {
  color: white;
  background-color: rgb(60, 60, 60);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
}

.information p {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Information */

.bigBox .two{
  background-color: white;
}

.informationBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-left: 1px solid lightgray;
}

.informationBox .one {
  background-color: rgb(180, 180, 180);
}

#practiceTitle {
  padding-top: 32px;
  padding-bottom: 24px;
}

#practiceSub {
  padding-top: 32px;
  padding-bottom: 32px;
}

.informationImage {
  height: auto;
  width: 35%;
  padding: 16px 16px;
}

.informationContent{
  width: 65%;
  height: auto;
  padding: 0px 16px;
}

/* Courses */

#thirdBig, #learning {
  background-color: #d3d3d3;
  background-size: cover;
  background-position: center;
}

.sectionTitle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Big Box */
.coursesCatalog {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 32px 40px;
}
/* Small Box */
.courses {
  display: flex;
  flex-flow: column;
  padding-bottom: 32px;
  padding-right: 32px;
  width: 25%;
  height: auto;
}
/* Individual Content */
.coursesImage {
  height: auto;
  width: 85%;
}

.coursesContent {
  background-color: white;
  width: 100%;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-top: 16px;
}

.coursesContent h3 {
  padding-top: 16px;
}

.coursesContent p {
  padding-top: 8px;
}

/* Thesis */

.bigBox .four{

}

.largeImage video {
  width: 60%;
  height: auto;
  padding-right: -20px;
}

#urbanTitle {
  padding-top: 24px;
}

#urbanContent {
  padding-bottom: 32px;
  padding-top: 8px;
}

/* Footer */

footer {
  padding: 16px 24px;
  width: auto;
  height: 5rem;
}

.footerBox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.copyright {

}

.footerNav {

}
